########################
# NODE
########################

node_modules
npm-debug.log
**/logs/**
yarn-error.log

########################
# misc / editors
########################
*~
*#
**/.DS_STORE/**
**/tmp/**
debug.js

########################
# docs / tests
########################
doc
report.xml

########################
# local config
########################
.jenkins.conf
credentials.js