########################
# NODE
########################

node_modules
npm-debug.log
**/logs/**
yarn-error.log

########################
# misc / editors
########################
*~
*#
**/.DS_STORE/**
**/tmp/**
debug.js
**/geolite2/**
.claude**

########################
# docs / tests
########################
doc
report.xml
coverage*

########################
# local config
########################
.jenkins.conf
credentials.js